.accountNavWrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: white;
  width: 100%;
  margin: 5px 0;
  padding: 0;
  height: 50px;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}
.accountNavWrapper button {
  padding: 5px;
  color: #837e7e;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.8s;
  cursor: pointer;
}
.accountNavWrapper button:hover {
  color: white;
}
.accountNavWrapper button:nth-child(1):hover {
  background: rgb(11, 204, 11);
  border: 2px solid rgb(11, 204, 11);
}

.accountNavWrapper button:nth-child(2):hover {
  background: rgb(204, 137, 11);
  border: 2px solid rgb(204, 137, 11);
}

.accountNavWrapper button:nth-child(3):hover {
  background: rgb(151, 8, 8);
  border: 2px solid rgb(151, 8, 8);
}
