.lightThemeSignup {
  display: grid;
  grid-template-rows: 25% 50% auto;
  max-width: 100%;
  padding: 0 50px;
}
.lightThemeSignup h3 {
  font-size: 30px;
  color: #292826;
  align-self: end;
  font-weight: 600;
}
.lightThemeSignup form {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-row-gap: 15px;
  width: 100%;
  margin: 0;
}

.lightThemeSignup p {
  color: #292826;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.lightThemeSignup p a {
  color: #292826;
}

.lightThemeSignup p a:hover {
  text-decoration: underline;
  transition: 0.8s;
}

@media (max-width: 1024px) {
  .lightThemeSignup {
    grid-template-rows: 70% auto;
    margin-top: 35px;
    grid-gap: 5px;
  }
  .lightThemeSignup h3 {
    font-size: 20px;
    display: none;
  }
  .lightThemeSignup p {
    font-size: 30px;
  }
  .lightThemeSignup input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  select {
    border: none;
    border-bottom: 1px solid #3a3835;
    font-size: 30px;
    height: 50px;
    padding-left: 5px;
    outline: none;
  }
}
